
svg{
    stroke: black;
    width: 1em;
    height: 1em;
    float: right;
}

.rowHeader{
    grid-column: span 4;
    text-align: left;
    padding-left: 2em;
    border-bottom: 1px solid black;
    padding-bottom: var(--gap-size);
    padding-top: var(--gap-size);
}

.mb-sm{
    padding-bottom: var(--gap-size);
    padding-top: var(--gap-size);
    border-bottom: 1px solid black;
}

